/* Montserrat font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: Montserrat !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FBF8F1 !important;
  color: #f3f3f3;
}

#toggle, #toggle-logout {
  display: none;
}


ol,
ul,
dl {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.leaflet-container{
  width: 100%;
  height: 100%;
}

.map-marker{
  color: red;
  font-size: 40px;
}