@font-face {
    font-family: "SF Pro";
    src: url("../../public/fonts/SFPRODISPLAYREGULAR.OTF");
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.progress-bar {
    margin-top: 70px;
    height: 4px;
    position: fixed;
    top: 0;
    z-index: 1100;
}

.nav-bar-constant {
    border-bottom: 1px solid #ffffff;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: SF Pro !important;
    color: #f4f4f4;
    background: #1C2935;
}

.nav-bar-aboutUs {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 17px;
}

.nav-bar-aboutUs:hover {
    cursor: pointer;
    color: #01D28E;
}

.logo-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 23px;
    font-weight: bolder;
    cursor: pointer;
    color: #565656;
    font-family: Racing Sans One !important;

}


.logo-name-container>span {
    color: #01D28E;
}

.nav-bar-icon-container {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    align-items: center;
    position: sticky;
    top: 0;

}

.nav-bar-icon {
    font-size: 25px;
}

.nav-bar-icon:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.nav-bar-dynamic-container {
    background: #fff;
    height: 70px;
    z-index: 100;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-bar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.nav-bar-sticky {
    height: 60px;
    background: #FFFFFF;
}

.nav-bar-dynamic {
    font-family: SF Pro !important;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    color: #302E2E;
    height: 60px;
}

.nav-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.nav-ham-menu {
    font-size: 35px;
}

.nav-logo-container img {
    width: 50px;
    height: 40px;
    cursor: pointer;

}

.nav-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.nav-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-profile-container {
    display: flex;
    justify-content: center;
    column-gap: 0px;
}

.nav-profile-container img {
    height: 30px;
}

.nav-profile-container:hover {
    cursor: pointer;
    filter: brightness(90%);
}

/* .nav-profile-container::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18.2px 10.5px 0 10.5px;
    border-color: #01d28c transparent transparent transparent;
    margin-left: 2px;
} */

.profile-detail-container {
    width: 164px;
    height: 30px;
    background: #01D28E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    font-size: 15px;
    border-radius: 3px;
}

.profile-detail-container>:nth-child(2) {
    font-weight: 500;
}

.profile-detail-container::before {
    content: "";
    width: 2px;
    height: 100%;
    background: #302E2E;
    position: absolute;
    left: 0;
}

.nav-links-container {
    width: 100%;
    display: grid;
    place-items: center;

}

.nav-links-items {
    list-style: none;
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: -41px;
}

.nav-links-items li {
    margin-right: 1rem;
}


.link-items {
    text-decoration: none;
    color: #565656;
}

.link-items:hover {
    cursor: pointer;
    color: #01D28E;
}

.menu-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0rem;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    margin-top: 2rem;
    background: #1C2935;
    position: absolute;
    top: 38px;
    z-index: 1000;
    width: 100%;
    color: #FFFFFF;
    box-shadow: 4px 4px 24px 1px rgba(0, 0, 0, 0.16);

}


.menu-slide-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    margin-top: 2rem !important;
    color: #FFFFFF;
    padding: 1rem;

}

.slide-links {
    color: #FFFFFF;
}

.menu-slide-items li:active {
    color: #01D28E;
}

.nav-menu-container div label {
    display: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;
}

.nav-menu-container div:hover {
    cursor: pointer;
}

#toggle:checked~.menu-slide {
    height: 30rem;
}

.profile-options {
    display: flex;
    justify-content: flex-end;
    z-index: 300;
}

.logOut-container {
    position: absolute;
    width: 130px;
    height: 0px;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 2px;
    margin-right: 40px;
    z-index: 110;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    box-shadow: 4px 4px 24px 1px rgba(0, 0, 0, 0.16);
    transition: all 0.3s ease-in-out;


}

.profile-items {
    width: 100%;
    height: 46px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    text-decoration: none;
    color: #000;

}

.profile-items:hover {
    color: #01D28E;
}


.profile-items:hover {
    background: #F4F4FA;
    cursor: pointer;
}

.profile-logOut-button {
    background: #01D28E;
    color: #f4f4f4;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.profile-logOut-button:hover {
    filter: brightness(95%);
}

.profile-logout-icon {
    transform: rotate(270deg);
}

.toogle-logout {
    height: 100%;
    display: flex;
    align-items: center;
}

#toggle-logout:checked~.logOut-container {
    height: 130px;
}

.logo-light {
    display: none;
}

.logo-dark {
    display: block;
}

.nav-notification {
    display: flex;
    justify-content: flex-end;
}

.nav-notification-card {
    background: #F4F4FA;
    width: 100%;
    max-width: 220px;
    height: 135px;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    margin-top: 1rem;
    position: absolute;
    right: 120px;
    top: 68px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.makepayment-button {
    width: 180px !important;
    margin: 0 auto;
}

.nav-notification-icon {
    font-size: 25px;
    color: #01D28E;
    margin-right: 1rem;
}

.nav-notification-header {
    display: flex;
    font-weight: 600;
    color: #05497C;
    font-size: 14px;
}

.nav-notification-card::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 13px solid #01D28E;
    position: absolute;
    top: -13px;
    left: 100px;
}


.close-button {
    display: flex;
    background: #01D28E !important;
    color: #F4F4FA;
    border: none !important;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.request-accepted-headr {
    margin: 2rem 0rem;
}

.request-popup-container {
    padding: 1rem;
}

.user-social {
    color: #05497C;
    font-weight: 700;
    margin-top: 1rem;
}

.payment-form-items {
    column-gap: 0px;
}

.payment-attribute {
    max-width: 103px !important;
}

.payment-form {
    border: 1px solid springgreen;
}



@media only screen and (max-width: 767px) {
    .nav-profile-container::after {
        display: none;
    }

    .logo-light {
        display: block;
    }

    .logo-dark {
        display: none;
    }

    .nav-bar-dynamic-container {
        background: #1C2935;
    }

    .nav-bar-sticky {
        background: #1C2935;
    }

    .slide-profile {
        display: none;
    }

    .nav-ham-menu {
        color: #FFFFFF;
    }

    .logo-name-container {
        color: #FFFFFF;
    }

    .nav-bar-constant {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav-bar-aboutUs {
        font-weight: 500;
        font-size: 15px;
    }


    .nav-bar-icon-container {
        column-gap: 10px;

    }

    .nav-bar-icon {
        font-size: 20px;
    }

    .nav-bar-dynamic {

        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-links-container {
        display: none;
    }

    .nav-menu-container {
        display: flex;
    }

    .toogle-logout {

        display: none;
    }

    .profile-logOut-button {
        width: 130px;
        height: 40px;
        margin-top: 1rem;
    }

    .nav-notification-card {
        right: 5px;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {

    .logo-light {
        display: block;
    }

    .logo-dark {
        display: none;
    }

    .nav-bar-dynamic-container {
        background: #1C2935;
    }

    .nav-bar-sticky {
        background: #1C2935;
    }

    .logo-name-container {
        color: #FFFFFF;
    }

    .slide-profile {
        display: none;
    }

    .nav-bar-dynamic {

        display: flex;
        justify-content: space-between;
        padding-left: 5rem;
        ;
        padding-right: 5rem;
        ;
    }

    .nav-links-container {
        display: none;
    }

    .nav-menu-container {
        display: flex;
    }

    .toogle-logout {
        display: none;
    }

}