.about-hero-section {
    background-image: url("../../Img/AboutUsHero.png");
    width: 100%;
    margin-top: 70px;
    height: 89vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-us-hero-header {
    position: absolute;
    inset: 0;
    color: #f4f4f4;
    height: 50%;
    margin: auto;
}


.about-us-hero-header-contents {
    background: #00000052;
    width: 100%;
    max-width: 650px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.about-us-join-btn {
    background: #01D28E;
    color: #fff;
    width: 250px;
    border: none;
}

.about-us-join-btn:hover {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.about-container {
    margin-top: 2rem;
}

.about-header {
    font-weight: 400;
    font-size: 24px;
    padding: 2rem 0;
}

.about-description {
    text-align: justify;
    margin-bottom: 2rem;
}

.about-service-image-container {
    width: 100%;
    max-width: 40%;
    padding: 2rem 0;
}

.sevice-container-second {
    margin-bottom: 5rem;
}

@media (max-width: 811px) {
    .about-hero-section {
        height: 70vh;
    }

    .about-us-hero-header {
        height: 100%;
    }

    .deveoper-images-container {
        margin-top: 3rem;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}

.second-service {
    display: none;
}

.abouts-service-card {
    margin-top: 8rem !important;
}

.developer-container {
    margin-top: 9rem;
    text-align: center;
    margin-bottom: 6rem;
}

.deveoper-images-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.developer-img {
    background-image: url("../../Img/developer.png");
    width: 100%;
    max-width: 350px;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    padding-bottom: 340px;
    border-radius: 3px;
    font-weight: 900;
}

/* .developer-img{
    background-image: ;
} */

@media (max-width: 480px) {

    .about-services {
        flex-direction: column;
    }

    .about-service-image-container {
        max-width: 100%;
    }

    .about-time-image {
        width: 100%;
    }

    .about-service-detail {
        max-width: 100%;
        font-size: 14px;
        padding: 1rem;
        height: 200px;
    }

    .sevice-container-second {
        display: none;
    }

    .second-service {
        display: flex;
        margin-bottom: 5rem;
    }
}

.developer-chador {
    background-image: url("../../Img/charod.jpg");
}

.developer-dorji {
    background-image: url("../../Img/park.jpg");
}

.tandin{
    background-image: url("../../Img/tandin.jpg");
}
.dhendup{
    background-image: url("../../Img/dhendhup.jpg");
}