.contact-hero-section {
    background-image: url("../../Img/ContactHero.jpg");
    width: 100%;
    margin-top: 70px;
    height: 89vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contactUs-container {
    margin: 4rem 0;
    width: 100%;
    background: #1C2935;
    color: #fff;
    padding: 1rem 0;
}

.contact-header {
    color: #01D28E;
    font-weight: 700;
    font-size: 23px;
    padding: 1rem 0;
}

.contact-form-container {
    margin: 2rem 0;
}

.contact-input {
    height: 50px;
    filter: brightness(98%);
}

.contact-submit-button {
    width: 100%;
    max-width: 425px;
    height: 50px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
    color: #FFFFFF;
    background: #01D28E;
    border: 1px solid #01D28E;
    border-radius: 6px;
    margin-top: 1rem;
}

.contact-submit-button:hover {
    filter: brightness(90%);
}

@media (max-width: 811px) {
    .contact-hero-section {
        height: 70vh;
    }
}