.driver-booking {
    background: transparent;
    border: 0;
    box-shadow: none;
    width: 920px !important;
    margin: 1rem auto;
}

.driver-booking>h4 {
    color: #01D28E;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5rem;
}

.driver-book-icon {
    background: transparent;
    color: #01D28E;
}

.driver-view-all-ride-button{
    border-radius: 1px;
    width: 250px;
    height: 50px;
    color: #fff;
    display: flex;
    background: #01D28E;
    transition: all .3s ease-in-out;
    justify-content: center;
    align-items: center;
}

.driver-view-all-ride-button:hover {
    border: 1px solid #01D28E;
    background: transparent;
    color: #ffffff;
}

.map-container {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin: 100px auto;
    border-radius: 2px;
    z-index: 1;
}

.map-marker {
    width: 110px;
}

.custom-tooltip {
    background-color: transparent;
    color: #333333;
    border: 1px solid #333333;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    width: 100px;
    height: 35px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-popUp-container {
    width: 200px;
    margin-right: 1rem;
}

.user-custom-pop {
    width: 100%;
    height: 100%;
    margin: auto;

}


.map-user-card {
    height: 57px !important;
    width: 156px !important;
}

.map-user-image {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 1rem;
}

.user-custom-pop-header {
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.destination-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 1rem;
}

.destination-item {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.map-accept-btn {
    margin-top: 1rem;
    width: 100%;
    border: none;
    background: #EB8135;
    color: #f3f3f3;
    height: 35px;
    border-radius: 6px;
}

.map-accept-btn:hover {
    filter: brightness(90%);
}

.user-map {
    z-index: 100;
}

.hero-section {
    margin-top: 70px;
    width: 100%;
    height: 89vh;
    background-image: url("../../Img/driver-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.driver-hero-header {
    font-size: 30px;
    font-weight: 700;
}

.driver-hero-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
    color: #f3f3f3 !important;
    height: 50%;
    background: #33333373;
    width: 100%;
    max-width: 650px;
    margin-top: 9rem;
    padding: 4rem 1rem;

}

.home-contact-guide {
    background-image: url("../../Img/homeContact.png");
    height: 480px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-contact-content {
    padding: 1rem;
    color: #ffffff;
    margin: 0rem auto;
    background: #00000052;
    width: 100%;
    max-width: 1000px !important;
    padding: 4rem 2rem !important;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    justify-content: space-between;
    text-align: justify;
    border-radius: 6px;
}

.contactUs-content {
    font-size: 16px;
    margin-top: 1rem;
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .driver-booking>h4 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    .driver-view-all-ride-button {
        margin-top: 3rem;
    }

    .steps-content div {
        font-size: 15px !important;
        font-weight: 300 !important;
    }

    .driver-book-icon {
        font-size: 65px !important;
    }

    .steps-content {
        margin-top: 1rem;
    }

    .bookNow-button {
        margin-left: 0;
        margin-top: 2rem;
    }

    .contactUs-content {
        font-size: 14px;
        line-height: 40px;
        color: #f3f3f3;
    }

    .reward-content-second>div> :nth-child(1)>h3 {
        text-align: center;
    }

}