.landing-hero {
    background-image: url("../../Img/landingheroimage.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: #fff;
}

.oval-shape {
    content: "";
    /* width: 100%; */
    width: 1550px;
    height: 400px;
    background: #fff;
    position: absolute;
    bottom: -240px;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.landing-cta-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding-top: 6rem;
}

.landing-logo {
    width: 70px !important;
    height: 70px !important;
    margin-right: 5px;
}

.landing-login-link {
    color: #01D28E;
    text-decoration: none;
    margin-left: 5px;
    font-weight: 600;
}

.landing-login-link:hover {
    color: #fff;
}

.landing-header {
    font-weight: 900;
    font-size: 40px;
    margin-top: 2rem;
    text-align: center;
}

.landing-get-started-button {
    border-radius: 1px;
    width: 250px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01D28E;
    transition: all .3s ease-in-out;
}

.landing-get-started-button:hover {
    filter: brightness(90%);
    color: #fff;
}

.landing-already-have-acc {
    font-size: 15px;
}

.landing-contents {
    background: #fff;
    margin-top: 5rem;
}

.landing-page {
    background: #fff;
    position: relative;
}

.why-ridetrust {
    color: #01D28E;
    font-weight: 700;
}


.landing-card-container {
    margin-top: 10rem;
    display: flex;
}

.user-friendly-exp {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 37px;
    color: #696969;
}

.landing-card-1 {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;

}

.landing-card-2 {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-card-content {
    font-size: 17px;
    line-height: 25px;
    margin-top: 1rem;
    text-align: center;
}

.landing-location-icon {
    color: #01D28E;
    /* color: linear-gradient(180deg, rgba(1, 210, 142, 0.81) 3.96%, rgba(1, 210, 142, 0.16) 100%); */
}

.landing-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.landing-service-card {
    margin-top: 10rem;
    display: flex;
    column-gap: 5rem;
    justify-content: space-evenly;
}

.landing-company-stats {
    margin-top: 10rem;
    background-image: url("../../Img/companyStats.png");
    height: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 1rem;
}

.stats-of-company {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    color: #696969;
}

.company-stats {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    column-gap: 1rem;
}

.company-stats h1 {
    font-weight: 900;
    color: #18A0FB;
    font-size: 45px;
}

.company-stats-name {
    padding-bottom: 4px;
}

.landin-hero-bottom {
    width: 100%;
    height: 90vh;
    background-image: url("../../Img/landingherobottomimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
}

.oval-shape-bottom {
    content: "";
    width: 100%;
    /* width: 1550px; */
    height: 400px;
    background: #fff;
    position: absolute;
    top: -209px;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.landing-hero-content-bottom {
    width: 100%;
    margin-top: auto !important;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
}

.landing-cta {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}


@media only screen and (max-width: 767px) {
    .landing-header {
        font-size: 20px;
    }

    .nav-logo-container {
        display: flex;
        flex-direction: column;
        row-gap: 13px;
    }

    .landing-contents {
        margin-top: 0rem;
    }

    .landing-card-2 {
        display: none;
    }

    .user-friendly-exp {
        text-align: justify;
        font-size: 20px;
        width: 100%
    }

    .landing-card-content {
        text-align: justify;
    }

    .landing-card-container {
        margin-top: 5rem;
    }

    .landing-service-card {
        margin-top: 5rem;
        display: flex;
        row-gap: 5rem;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .landing-hero {
        background-image: url("../../Img/landingHero-phone.png");
    }

    .landing-card-content {
        margin-top: 0rem;
    }
    .stats-of-company{
        background: #fff;
        display: block;
        padding: 1rem;
    }
    .company-stats-name{
        margin-left: 1rem;
    }
    .landing-company-stats{
        margin-top: 3rem;
        margin-bottom: 4rem;
        background: #fff;
    }
    .oval-shape-bottom{
        display: none;
    }
    .landing-hero-content-bottom{
        margin-top: -1rem !important;
    }
    .landin-hero-bottom{
        background-image: url("../../Img/landingherbottomimage-phone.png");
    }
}